@model CarDealership2.ViewModels.AddUserDataVM

@{
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddUser</title>
</head>
<body>
    <div style="padding-top: 25px;" class="container">
        <h2 strong>Add Make</h2>
        <div style="border-style: groove;" class="row">
            <div style="padding-top: 25px;padding-bottom: 25px;" class="col-xs-12">
                @using (Html.BeginForm("AddUser", "Admin", FormMethod.Post))
                {
                    <div class="form-group">
                        <label for="FirstName"> First Name </label>
                        @Html.TextBoxFor(m => m.user.FirstName, new { @class = "form-horizontal", placeholder = "first name" })

                        <label for="LastName"> Last Name </label>
                        @Html.TextBoxFor(m => m.user.LastName, new { @class = "form-horizontal", placeholder = "last name" })

                    </div>

                    @*@Html.LabelFor(m => m.vehicleModel.ModelName)
                    @Html.TextBoxFor(m => m.vehicleModel.ModelName, new { @class = "form-horizontal", placeholder = "Model Name" })

                    @Html.LabelFor(m => m.Makes)
                    @Html.DropDownListFor(m => m.SelectedMakeId, Model.Makes, "-Select-", new { @class = "form-horizontal" })*@

                    <div class="form-group">
                        @Html.LabelFor(m => m.user.Email)
                        @Html.TextBoxFor(m => m.user.Email, new { @class = "form-horizontal", placeholder = "email" })

                        @Html.LabelFor(m => m.Roles)
                        @Html.DropDownListFor(m => m.SelectedRoleId, Model.Roles, "-Select-", new { @class = "form-horizontal" })
                    </div>

                    <div class="form-group">
                        <label for="Password"> Password </label>
                        @Html.TextBoxFor(m => m.user.Password, new { @class = "form-horizontal", placeholder = "password" })

                        <label for="ConfirmPassword"> Confirm Password </label>
                        @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-horizontal", placeholder = "confirm password" })
                    </div>

                    <button type="submit" class="btn btn-sm btn-primary">Save</button>

                }

            </div>
        </div>
    </div>
</body>
</html>
