@model CarDealership2.ViewModels.EditVehicleVM

@{
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddVehicle</title>
</head>
<body>
    <div style="padding-top: 25px;" class="container">
        <div class="row">
            @using (Html.BeginForm("EditVehicle", "Admin", FormMethod.Post, new { enctype = "multipart/form-data", id = "frmupload" }))
            {

                <div class="form-row col-md-10">
                    <div class="form-group col-md-5">
                        <label for="Makes"> Make </label>
                        @Html.DropDownListFor(m => m.SelectedMakeId, Model.Makes, Model.selectedMakeName, new { @class = "form-control" })
                        <span class="text-danger">@Html.ValidationMessageFor(m => m.SelectedMakeId)</span>
                    </div>

                    <div class="form-group col-md-5">
                        <label for="VehicleModels"> Model </label>
                        @Html.DropDownListFor(m => m.SelectedVehicleModelId, Model.VehicleModels, Model.selectedModelName, new { @class = "form-control" })
                        <span class="text-danger">@Html.ValidationMessageFor(m => m.SelectedVehicleModelId)</span>
                    </div>



                </div>

                <div class="form-row col-md-10">
                    <div class="form-group col-md-5">
                        <label for="VehicleTypes"> Type </label>
                        @Html.DropDownListFor(m => m.SelectedVehicleTypeId, Model.VehicleTypes, Model.selectedVehicleTypeName, new { @class = "form-control" })
                        <span class="text-danger">@Html.ValidationMessageFor(m => m.SelectedVehicleTypeId)</span>
                    </div>

                    <div class="form-group col-md-5">
                        <label for="BodyStyles"> Body Style </label>
                        @Html.DropDownListFor(m => m.SelectedBodyStyleId, Model.BodyStyles, Model.selectedBodyStyleName, new { @class = "form-control" })
                        <span class="text-danger">@Html.ValidationMessageFor(m => m.SelectedBodyStyleId)</span>
                    </div>


                </div>

                <div class="form-row col-md-10">
                    <div class="form-group col-md-5">
                        <label for="Year"> Year </label>
                        @Html.TextBoxFor(m => m.Vehicle.Year, new { @class = "form-control", placeholder = "Year" })
                        <span class="text-danger">@Html.ValidationMessageFor(m => m.Vehicle.Year)</span>
                    </div>

                    <div class="form-group col-md-5">
                        <label for="Transmission"> Transmission </label>
                        @Html.DropDownListFor(m => m.SelectedTransmissionId, Model.Transmissions, Model.selectedTransmissionName, new { @class = "form-control" })
                        <span class="text-danger">@Html.ValidationMessageFor(m => m.SelectedTransmissionId)</span>
                    </div>

                </div>

                <div class="form-row col-md-10">
                    <div class="form-group col-md-5">
                        <label for="Colors"> Color </label>
                        @Html.DropDownListFor(m => m.SelectedColorId, Model.Colors, Model.selectedColorName, new { @class = "form-control" })
                        <span class="text-danger">@Html.ValidationMessageFor(m => m.SelectedColorId)</span>
                    </div>

                    <div class="form-group col-md-5">
                        <label for="Interiors"> Interior </label>
                        @Html.DropDownListFor(m => m.SelectedInteriorId, Model.Interiors, Model.selectedInteriorName, new { @class = "form-control", @selected = "selected", value = "Red" })
                        <span class="text-danger">@Html.ValidationMessageFor(m => m.SelectedInteriorId)</span>
                    </div>


                </div>

                <div class="form-row col-md-10">
                    <div class="form-group col-md-5">
                        <label for="Mileage"> Mileage </label>
                        @Html.TextBoxFor(m => m.Vehicle.Mileage, new { @class = "form-control", placeholder = "Mileage" })
                        <span class="text-danger">@Html.ValidationMessageFor(m => m.Vehicle.Mileage)</span>
                    </div>

                    <div class="form-group col-md-5">
                        <label for="VIN"> VIN # </label>
                        @Html.TextBoxFor(m => m.Vehicle.VIN, new { @class = "form-control", placeholder = "VIN" })
                        <span class="text-danger">@Html.ValidationMessageFor(m => m.Vehicle.VIN)</span>
                    </div>


                </div>

                <div class="form-row col-md-10">
                    <div class="form-group col-md-5">
                        <label for="MRSP"> MRSP </label>
                        @Html.TextBoxFor(m => m.Vehicle.MRSP, new { @class = "form-control", placeholder = "MRSP" })
                        <span class="text-danger">@Html.ValidationMessageFor(m => m.Vehicle.MRSP)</span>
                    </div>

                    <div class="form-group col-md-5">
                        <label for="SalePrice"> Sale Price </label>
                        @Html.TextBoxFor(m => m.Vehicle.SalePrice, new { @class = "form-control", placeholder = "Sale Price" })
                        <span class="text-danger">@Html.ValidationMessageFor(m => m.Vehicle.SalePrice)</span>
                    </div>



                </div>


                <div class="form-row col-md-10">
                    <div class="form-group col-md-10">
                        <label style="padding-top:25px;" for="vehicle.Description"> Description </label>
                        @Html.TextAreaFor(m => m.Vehicle.Description, new { @class = "form-control", @style = "height:150px", placeholder = "description" })
                        <span class="text-danger">@Html.ValidationMessageFor(m => m.Vehicle.Description)</span>
                    </div>
                </div>

                <div class="form-row col-md-10">
                    <div class="form-group col-md-2">
                        <img src=/Uploads/@Model.Vehicle.PhotoPath alt="dollar sign" style="width:100px;" class="center">
                    </div>
                </div>

                <div class="form-row col-md-10">
                    <div class="form-group col-md-4">
                        <H3>Replace Picture</H3>
                    </div>
                </div>

                <div class="form-row col-md-10">
                    <div class="form-group col-md-2">
                        <label> Select File </label>
                        @Html.TextBoxFor(m => m.UploadedFile, new { type = "file", @class = "form-control" })
                        @*<button class="btn btn-md btn-primary">Upload File</button>*@
                    </div>
                </div>

                <div class="form-row col-md-10">
                    <div class="form-group col-md-6">
                        @Html.CheckBoxFor(m => m.Vehicle.IsFeatured, true);
                        <label class="form-check-label" for="IsFeatured">
                            <b>Feature this vehicle</b>
                        </label>
                    </div>
                </div>

                <div class="form-row col-md-10">
                    <div class="form-group col-md-6">

                        <a href="@Url.Action("DeleteVehicle","Admin", new {id=Model.Vehicle.VehicleId })"
                           class="btn btn-md btn-danger" onclick="return confirm ('Are you sure want to delete vehicle?');">Delete</a>
                        @** add feature to add alert and ask if user is sure they want to delete *@

                        <button type="submit" class="btn btn-md btn-primary">Save</button>
                    </div>
                </div>
            }


        </div>
    </div>
    <script>
        function alert() {
            alert("are you sure you want to delete vehicle");
    </script>


</body>
</html>
