@model CarDealership2.ViewModels.AddModelVM

@{
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add Model</title>
</head>
<body>
    <div style="padding-top: 25px;" class="container">
        <h2 strong>Add Model</h2>
        <div style="border-style: groove;" class="row">
            <div style="padding-top: 25px;padding-bottom: 25px;" class="col-md-12">

                @using (Html.BeginForm("Models", "Admin", FormMethod.Post))
                {
                <div class="form-group">

                    @Html.LabelFor(m => m.vehicleModel.ModelName, "New Model")
                    @Html.TextBoxFor(m => m.vehicleModel.ModelName, new { @class = "form-horizontal", placeholder = "Model Name" })
                    <span class="text-danger">@Html.ValidationMessageFor(m => m.vehicleModel.ModelName)</span>


                    @Html.LabelFor(m => m.Makes, "Make")
                    @Html.DropDownListFor(m => m.SelectedMakeId, Model.Makes, "-Select-", new { @class = "form-horizontal" })
                   

                    <button type="submit" class="btn btn btn-primary">Save</button>
                    <span class="text-danger">@Html.ValidationMessageFor(m => m.SelectedMakeId)</span>
        


       


                </div>
                  
                }
             
                
            </div>

                </div >

                </div >





          <div style = "padding-top: 25px; " class= "container" >
           <div class= "row" >

            <div class= "col-xs-4" >
            <table class= " table table-bordered table-striped table-hover" style = "width: auto;" >
                <thead >
                    <tr>
                    <th>Make Name</th>
                    <th>Model Name</th>
                        <th>Date Added</th>
                        <th>User</th>
                    </tr>
                </thead>
                   <tbody>
                            @foreach (var m in Model.models)
                             {
                               <tr>
                                   <td>@m.MakeName </td>
                                   <td>@m.ModelName </td>
                                   <td>@m.DateAdded</td>
                                   <td>@m.currentUserEmail</td>
                               </tr>
                             }

                    </tbody>
                 </table>
            </div>
            </div>

        </div>


</body>
</html>
