@model CarDealership2.ViewModels.ChangePasswordVM

@{
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ChangePassword</title>
</head>
<body>

    <div class="container">
    <div class="row">
        <h2>Change Password</h2>
        @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
        {
            @* @Html.ValidationSummary()*@

            <div class="form-row col-md-10">
                <div class="form-group col-md-5">
                    <label for="oldpassword"> Old Password </label>
                    @Html.TextBoxFor(m => m.OldPassword, new { @class = "form-control", type = "password", id = "password", name = "password" })
                    @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-row col-md-10">
                <div class="form-group col-md-5">
                    <label for="newpassword"> New Password </label>
                    @Html.TextBoxFor(m => m.NewPassword, new { @class = "form-control", type = "password", id = "password", name = "password" })
                    @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-row col-md-10">
                <div class="form-group col-md-5">
                    <label for="confirmnewpassword"> Confirm New Password </label>
                    @Html.TextBoxFor(m => m.ConfirmNewPassword, new { @class = "form-control", type = "password", id = "password", name = "password" })
                    @Html.ValidationMessageFor(m => m.ConfirmNewPassword, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-row col-md-10">
                <div class="form-group col-md-2">
                    <button type="submit" class="btn btn-md btn-primary">Save</button>
                </div>
            </div>


        }
    </div>
    </div>
</body>
</html>
