@model CarDealership2.ViewModels.ContactVM


@{
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ContactUs</title>
</head>
<body>
    <div style="margin-top:5px; padding-top:5px;" class="container">
        
        <div class="row">
            <h2>Contact Us</h2>
            @using (Html.BeginForm("ContactUs", "Home", FormMethod.Post))
            {
               @* @Html.ValidationSummary()*@

                <div class="form-row col-md-10">
                    <div class="form-group col-md-5">
                        <label for="name"> Name </label>
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-row col-md-10">
                    <div class="form-group col-md-5">
                        <label for="email"> Email </label>
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", type = "email", id = "email", name = "email" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>



                <div class="form-row col-md-10">
                    <div class="form-group col-md-5">
                        <label for="phone"> Phone </label>
                        @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", type = "tel", id = "phone", name = "phone", pattern = "[0-9]{3}-[0-9]{2}-[0-9]{3}" })
                        @Html.ValidationMessageFor(m => m.Phone, "",new { @class = "text-danger" })
                    </div>


                </div>



                <div class="form-row col-md-10">

                    <div class="form-group col-md-5">
                        <label for="Message"> Message </label>
                        @Html.TextAreaFor(m => m.Message, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-row col-md-10">
                    <div class="form-group col-md-2">
                        <button type="submit" class="btn btn-md btn-primary">Save</button>
                    </div>
                </div>


            }
        </div>
        </div>
</body>
</html>
